#ghost {
    --ghostXPos: 0px;
    --ghostYPos: 0px;
    --darkText: #f1ede3dc;
    --light: #805ebe94;
    --ghostShadow: #a576da;
    transform: translate3d(var(--ghostXPos), var(--ghostYPos), 0);
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 1000;
    pointer-events: none;
    transition: .2s ease-out opacity;
}

#ghostImage {
    animation: ghostBounce 5s ease-in-out infinite;
    filter: drop-shadow(0px 2px 10px var(--ghostShadow));
}

#ghostOuter {
    animation: ghostSlide 10s ease-in-out infinite;
}

@keyframes ghostSlide {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes ghostBounce {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.floatie svg.enabled {
    border-bottom: 4px solid var(--primary);
    padding-bottom: 2px;
    margin-top: 4px;
    transition: all .2s ease-out;
}